@media (max-width: 1024px) and (min-width: 768px) {
    .center {
        padding-left: calc(50% - 50vw);
        padding-right: calc(50% - 50vw);
    }

    .header {
        gap: 55%;

        &__img1 {
            padding-bottom: 1.13rem;
        }

        &__img2 {
            padding-top: 1.19rem;
            padding-bottom: 1.13rem;
        }
    }

    .dropdown__content {
        right: -9rem;
    }

    .top {
        gap: 39px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &__main-photo {
            max-width: 386px;
        }

        &__block-text {
            // padding-top: 8.63rem;
            // padding-bottom: 8.63rem;
            width: 19.44rem;
        }

        &__heading {
            font-size: 2.75rem;
            line-height: 3.31rem;

            &__newline {
                font-size: 1.5rem;
            }

            &__newline-pink {
                font-size: 1.5rem;
            }
        }
    }

    .top__content {
        padding-bottom: 6.88rem;
        gap: 16px;
        grid-template-columns: repeat(3, 1fr);
        max-width: 736px;
        width: 96%;

        &__item {
            padding-top: 3.62rem;
            padding-bottom: 3.63rem;
            background-size: 100%;

            &__big {
                padding-top: 2.06rem;
                padding-bottom: 2.06rem;
            }
        }
    }

    .content {
        &__text-block {
            padding-bottom: 4.56rem;
        }

        &__text {
            padding-top: 0.19rem;
        }

        &__items-box {
            gap: 16px;
            grid-template-columns: repeat(2, 1fr);
            max-width: 736px;
            width: 96%;
        }

        &__item:hover:after {
            top: 12rem;
        }

        &__button {
            margin-top: 2rem;
            margin-bottom: 4.06rem;
        }
    }

    .bottom {
        flex-direction: column;
        gap: 0px;
        padding-bottom: 4rem;
        margin: 0 auto;

        &__content {
            padding-top: 3rem;
            padding-bottom: 0rem;
            width: 47%;
        }
    }

    .feedback {
        flex-direction: column;
        gap: 48px;
        background-size: cover;
        padding-bottom: 8.75rem;
        background-image: url(../img/bg-tablet.jpg);

        &__comment {
            padding-bottom: 1.25rem;
            width: 47%;
        }

        &__form {
            gap: 27px;
            width: 73%;
        }
    }

    .footer {
        gap: 305px;
    }
}