// Цвета
// -- Фон
$bgColor: #fff;
$bgColorDark: #222;
$bgMainPhoto: #F1E4E6;
$bgContent: #F8F8F8;
$bgContentHover: #F3EDED;
$bgFeedbackInput: #E1E1E1;
$bgBreadCrumbs: #F8F3F4;
$bgCarousel: #F7F7F7;

// -- Ссылки
$dropdownLink: #6F6E6E;
$breadCrumbsLink: #636363;

// -- Контент
$colorContentPink: #F16D7F;
$textBlack: #000;
$textContent: #9F9F9F;
$textContentItem: #5D5D5D;
$bottomHeadingColor: #FBFBFB;
$productHeading: #4D4D4D;
$productText: #5E5E5E;
$productPrice: #EF5B70;
$borderProductMain: #EAEAEA;

// -- Кнопки
$buttonBorderColor: #FF6A6A;
$bgButtonColor: #F26376;
$bgButtonFeedbackHover: #F7E4E2;

// Размеры
// -- Ширина сайта, контентная часть
$widthSite: 1600px;
$widthContent: 1140px;
$widthItemContent: 360px;