@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(0.7);
    animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  81% {
    transform: scale(0.84);
    animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(0.95);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@keyframes wobble-hor-top {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(6deg);
  }
  30% {
    transform: translateX(15px) rotate(-6deg);
  }
  45% {
    transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(1.2deg);
  }
}
* {
  padding: 0;
  margin: 0;
}

summary {
  display: block;
}
summary::-webkit-details-marker {
  display: none;
}

body {
  background-color: #fff;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  padding-left: 20px;
}

input[type=radio] {
  display: none;
}

input[type=radio]:checked + .registration__custom-radio {
  background-color: #F16D7F;
  border-color: #F16D7F;
}

button {
  cursor: pointer;
}

.center {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.header__conteiner {
  background-color: #222;
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  margin: 0 auto;
  max-width: 1140px;
  min-height: 100%;
  gap: 54%;
}
.header__img1 {
  padding-top: 1.13rem;
  padding-bottom: 1.19rem;
  gap: 41px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
}
.header__img1 svg {
  cursor: pointer;
  transition: all 1s;
}
.header__img1 svg path {
  transition: all 1s;
}
.header__img1 svg:hover path {
  fill: #F16D7F;
}
.header__img2 {
  padding-top: 1.13rem;
  padding-bottom: 1.25rem;
  gap: 33px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
}
.header__img2 svg path {
  transition: all 1s;
}
.header__img2 svg:hover path {
  fill: #F16D7F;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.dropdown:hover .dropdown__content {
  display: block;
}
.dropdown__content {
  margin: 0 auto;
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  max-width: 232px;
  width: 14.5rem;
  z-index: 1;
  top: 3.13rem;
  right: -12.5vw;
  transition: all 1s;
}
.dropdown__content a {
  color: #6F6E6E;
  font-size: 0.88rem;
  padding-left: 1.38rem;
  padding-bottom: 0.69rem;
  display: block;
  transition: all 1s;
}
.dropdown__content a:hover {
  color: #F16D7F;
}
.dropdown__menu {
  margin-top: 2rem;
  margin-bottom: 1.25rem;
  padding-left: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.dropdown__heading {
  padding-bottom: 0.94rem;
  color: #000;
  font-size: 0.88rem;
  font-weight: 700;
}
.dropdown__heading-pink {
  padding-top: 0.56rem;
  padding-bottom: 0.75rem;
  color: #F16D7F;
  font-size: 0.88rem;
}

.top__conteiner {
  background: #F1E4E6;
}

.top {
  gap: 63px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 1600px;
  min-height: 100%;
}
.top__main-photo {
  width: 50vw;
  max-width: 800px;
  height: 100%;
}
.top__block {
  max-width: 405px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  animation: heartbeat 1.5s ease-in-out infinite both;
}
.top__block-text {
  border-left: 12px solid #F16D7F;
  padding-left: 15px;
  white-space: nowrap;
}
.top__heading {
  font-size: 3rem;
  line-height: 3.64rem;
  font-style: normal;
  font-weight: 900;
  color: #222;
}
.top__heading__newline {
  font-size: 2rem;
  font-weight: 700;
  font-style: normal;
}
.top__heading__newline-pink {
  color: #F16D7F;
  font-size: 2rem;
  font-weight: 700;
  font-style: normal;
}

.top-content__conteiner {
  background-color: #fff;
}

.top-content {
  padding-top: 4.06rem;
  padding-bottom: 6rem;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  width: 96%;
  margin: 0 auto;
  max-width: 1140px;
  min-height: 100%;
}
.top-content__item {
  padding-top: 6.56vw;
  padding-bottom: 6.56vw;
  display: grid;
  justify-items: center;
  white-space: pre-line;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  transition: all 1s;
}
.top-content__item:hover {
  transform: scale(1.1);
}
.top-content__item__1 {
  background-image: url(../img/bg-woman.jpg);
  max-width: 360px;
  background-size: cover;
  background-position: center;
}
.top-content__item__2 {
  background-image: url(../img/bg-man.jpg);
  max-width: 360px;
  background-size: cover;
  background-position: center;
}
.top-content__item__3 {
  background-image: url(../img/bg-child.jpg);
  max-width: 360px;
  background-size: cover;
  background-position: center;
}
.top-content__item__big {
  background-image: url(../img/bc-big-clothes.jpg);
  padding-top: 4.06rem;
  padding-bottom: 4.06rem;
  grid-column: span 3;
  display: grid;
  justify-items: center;
  max-width: 1140px;
  background-size: cover;
  background-position: center;
}
.top-content__heading {
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  line-height: 1.19rem;
  font-style: normal;
  color: #fff;
}
.top-content__heading-pink {
  font-size: 1.5rem;
  color: #F16D7F;
  text-align: center;
  line-height: 1.81rem;
  font-weight: 700;
  font-style: normal;
}

.content__conteiner {
  background-color: #fff;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: column;
  align-items: center;
}
.content__text-block {
  padding-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 336px;
  min-height: 100%;
}
.content__heading {
  font-size: 1.88rem;
  line-height: 2.25rem;
  font-style: normal;
  font-weight: 400;
  color: #222;
}
.content__text {
  padding-top: 0.38rem;
  font-size: 0.88rem;
  line-height: 1.06rem;
  font-weight: 400;
  color: #9F9F9F;
  font-style: normal;
}
.content__items-box {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  width: 96%;
  margin: 0 auto;
  max-width: 1140px;
  min-height: 100%;
}
.content__item {
  background-color: #F8F8F8;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 360px;
  min-height: 100%;
  position: relative;
  cursor: pointer;
  transition: all 1s;
}
.content__item:hover {
  background-color: #F1E4E6;
}
.content__item:hover::after {
  content: "Add to Cart";
  background-image: url(../img/img_basket.svg);
  max-width: 1.63rem;
  max-height: 1.5rem;
  position: absolute;
  font-size: 0.88rem;
  color: #fff;
  border: 2px #fff solid;
  opacity: 1;
  top: 12vw;
  padding: 0.69rem 3.38rem 0.75rem 3.13rem;
  text-align: left;
  background-size: auto;
  background-repeat: no-repeat;
  white-space: nowrap;
  background-position: 11px center;
}
.content__item::before {
  display: none;
}
.content__item img {
  width: 100%;
  transition: all 1s;
}
.content__item:hover img {
  opacity: 0.7;
  filter: brightness(15%);
}
.content__info {
  padding-top: 1.5rem;
  padding-bottom: 1.25rem;
  width: 87.5%;
  max-width: 315px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.content__item-heading {
  font-size: 0.81rem;
  line-height: 1rem;
  font-style: normal;
  font-weight: 400;
  color: #000;
}
.content__item-text {
  padding-top: 0.81rem;
  padding-bottom: 1.13rem;
  font-size: 0.88rem;
  line-height: 1.06rem;
  font-style: normal;
  font-weight: 300;
  color: #5D5D5D;
}
.content__item-price {
  font-size: 1rem;
  line-height: 1.19rem;
  font-style: normal;
  font-weight: 400;
  color: #F16D7F;
}
.content__button {
  margin-top: 3rem;
  margin-bottom: 3.75rem;
  padding: 0.94rem 2.44rem 0.88rem 2.44rem;
  font-size: 1rem;
  line-height: 1.19rem;
  font-style: normal;
  font-weight: 400;
  border: 1px solid #F16D7F;
  background-color: #fff;
  color: #F16D7F;
  transition: all 1s;
}
.content__button:hover {
  background-color: #F16D7F;
  color: #fff;
  border: 1px solid #F16D7F;
}
.content__product-page {
  padding-top: 41.5rem;
  padding-bottom: 8rem;
}
.content__menu-pages {
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  padding: 0.94rem 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
  margin-top: 3rem;
  margin-bottom: 6rem;
}
.content__links {
  display: flex;
  gap: 20px;
}
.content__link-page {
  color: #C4C4C4;
  font-size: 1rem;
  font-weight: 300;
  line-height: normal;
  transition: all 1s;
}
.content__link-page:hover {
  color: #F16D7F;
}
.content__link-page__last {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0;
}
.content__button-page {
  border: none;
  background-color: #fff;
}
.content__button-page path {
  transition: all 1s;
}
.content__button-page:hover path {
  fill: #F16D7F;
}

.bottom__conteiner {
  background-color: #222;
}

.bottom {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  margin: 0 auto;
  max-width: 1140px;
  min-height: 100%;
}
.bottom__content {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
  max-width: 360px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  animation: bounce-in-fwd 1.1s both;
}
.bottom__heading {
  margin-top: 1.56rem;
  margin-bottom: 1rem;
  color: #FBFBFB;
  font-size: 1.25rem;
}
.bottom__text {
  color: #FBFBFB;
  font-size: 0.88rem;
  font-weight: 300;
  text-align: center;
}

.feedback__conteiner {
  background-size: cover;
  background-position: center;
  background-image: url(../img/bc-bottom.jpg);
}

.feedback {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 96%;
  margin: 0 auto;
  max-width: 1140px;
  min-height: 100%;
  gap: 14%;
}
.feedback__comment {
  padding-top: 6.06rem;
  padding-bottom: 7.88rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 360px;
  width: 22.5rem;
  animation: wobble-hor-top 0.8s both;
}
.feedback__comment-text {
  color: #222;
  text-align: center;
  font-size: 1.25rem;
  font-style: italic;
}
.feedback__form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  max-width: 557px;
  width: 35%;
}
.feedback__heading__1 {
  color: #222;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 167.2%;
  white-space: pre-line;
  line-height: 1.88rem;
}
.feedback__heading__2 {
  font-size: 1.13rem;
}
.feedback__input {
  background-color: #E1E1E1;
  padding: 1rem 4rem 0.94rem 1.38rem;
  border: none;
  opacity: 0.7;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #222;
  font-size: 0.88rem;
}
.feedback__button {
  background-color: #F16D7F;
  padding: 1rem 0.94rem 0.94rem 0.94rem;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #fff;
  text-align: center;
  font-size: 0.88rem;
  transition: all 1s;
}
.feedback__button:hover {
  background-color: #F7E4E2;
  color: #F16D7F;
}

.footer__conteiner {
  background-color: #222;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  margin: 0 auto;
  max-width: 1140px;
  min-height: 100%;
  gap: 41%;
}
.footer__text {
  padding-top: 1.88rem;
  padding-bottom: 1.88rem;
  color: #FBFBFB;
  font-size: 1rem;
}
.footer__icons {
  padding-top: 1.5rem;
  padding-bottom: 1.44rem;
  display: flex;
  gap: 7px;
}
.footer__icons svg {
  background-color: #fff;
  border: 1px #222 solid;
  border-radius: 1px;
  transition: all 1s;
}
.footer__icons svg:hover {
  background-color: #F16D7F;
}

.icon {
  transition: all 1s;
}
.icon:hover path {
  fill: #fff;
}
.icon_fb {
  padding: 8px 10.9px 8px 10.6px;
}
.icon_inst {
  padding: 8px 8.6px 7px 8px;
}
.icon_pint {
  padding: 8px 9.6px 8px 9.9px;
}
.icon_twit {
  padding: 8px 7.6px 8px 8px;
}

.bread-crumbs__conteiner {
  background-color: #F8F8F8;
}

.bread-crumbs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  margin: 0 auto;
  max-width: 1140px;
  min-height: 100%;
  gap: 46%;
}
.bread-crumbs__heading {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  color: #F16D7F;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: normal;
}
.bread-crumbs__block-link {
  display: flex;
  white-space: pre;
  font-size: 0.88rem;
  font-weight: 300;
  line-height: normal;
  color: #6F6E6E;
  gap: 3px;
}
.bread-crumbs__block-link a {
  color: #6F6E6E;
}
.bread-crumbs__block-link a:last-child {
  color: #F16D7F;
  font-weight: bold;
}

.carousel__conteiner {
  background-color: #F8F8F8;
}

.carousel {
  width: 100%;
  margin: 0 auto;
  max-width: 1600px;
  min-height: 100%;
}
.carousel__box {
  border: 1px solid #EAEAEA;
  display: flex;
  justify-content: center;
  position: relative;
}
.carousel__box img {
  padding-top: 0.69rem;
  padding-bottom: 2.63rem;
}
.carousel__button {
  padding: 0.5rem;
  border: none;
  position: absolute;
  z-index: 1;
}
.carousel__button path {
  transition: all 1s;
}
.carousel__button:hover path {
  fill: #F16D7F;
}
.carousel__button__left {
  top: 45%;
  left: 0.5rem;
}
.carousel__button__right {
  top: 45%;
  right: 0.5rem;
}

.product-main__conteiner {
  position: relative;
}

.product-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.product-main__block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid #EAEAEA;
  position: absolute;
  z-index: 1;
  max-width: 1140px;
  width: 71.5%;
  top: -3rem;
}
.product-main__heading-pink {
  color: #F16D7F;
  font-size: 0.88rem;
  font-weight: 300;
  line-height: normal;
  padding-top: 4rem;
  padding-bottom: 0.75rem;
}
.product-main__heading {
  color: #5D5D5D;
  font-size: 1.13rem;
  font-weight: 300;
  line-height: normal;
  padding-top: 0.75rem;
  padding-bottom: 3rem;
}
.product-main__text {
  color: #5D5D5D;
  text-align: center;
  font-size: 0.88rem;
  font-weight: 300;
  line-height: normal;
  max-width: 36.13rem;
}
.product-main__price {
  color: #F16D7F;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: normal;
  padding-top: 2rem;
  padding-bottom: 4.06rem;
}
.product-main__line {
  max-width: 642px;
  width: 56.32%;
  border: 1px solid #EAEAEA;
}
.product-main__choose-block {
  padding-top: 4.06rem;
  padding-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 23px;
}
.product-main__choose {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 9px;
  color: #6F6E6E;
  font-size: 0.88rem;
  font-weight: 400;
  line-height: normal;
}
.product-main__choose img {
  cursor: pointer;
}
.product-main__choose-text {
  cursor: pointer;
}
.product-main__button {
  margin-bottom: 4.06rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 23px;
  padding: 0.94rem 3.56rem 0.56rem 1.5rem;
  background-color: #fff;
  border: 1px solid #F16D7F;
  color: #F16D7F;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  transition: all 1s;
}
.product-main__button:hover {
  color: #fff;
  background-color: #F16D7F;
}
.product-main__button:hover path {
  fill: #fff;
}

.filter__container {
  background-color: #fff;
}

.filter-sort {
  display: flex;
  gap: 30px;
  padding-top: 2.44rem;
  box-sizing: border-box;
  width: 96%;
  margin: 0 auto;
  max-width: 1140px;
  min-height: 100%;
  position: relative;
  height: 8.25rem;
}

.filter {
  padding-top: 0.81rem;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  width: 22.5vw;
  max-width: 360px;
}
.filter__content {
  background-color: #fff;
  padding: 0 1rem 1rem 1rem;
}
.filter__item {
  margin-top: 1rem;
}
.filter[open] {
  background: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  height: 531px;
}
.filter[open] .filter__heading {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 1rem;
}
.filter__summary svg {
  cursor: pointer;
}
.filter__heading {
  color: #000;
  font-size: 0.88rem;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
.filter__item[open] .filter__head {
  color: #F16D7F;
}
.filter__head {
  color: #6F6E6E;
  font-size: 0.88rem;
  font-weight: 400;
  line-height: normal;
  padding: 0.5rem 0.69rem 0.69rem 0.69rem;
  border-bottom: 1px solid #EAEAEA;
  border-left: 5px solid #F16D7F;
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 0.69rem;
  padding: 1.5rem 1rem;
}
.filter__link {
  color: #6F6E6E;
  font-size: 0.88rem;
  font-weight: 400;
  line-height: normal;
  transition: all 1s;
}
.filter__link:hover {
  color: #F16D7F;
}

.sort {
  padding-top: 0.75rem;
  display: flex;
  gap: 18px;
  z-index: 10;
}
.sort__details {
  position: relative;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort__summary svg {
  cursor: pointer;
}
.sort__heading {
  color: #6F6E6E;
  font-size: 0.88rem;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.sort__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 0.44rem 1.88rem 0.69rem 0.56rem;
  position: absolute;
  left: -0.56rem;
  top: 1.38rem;
}
.sort__check {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #6F6E6E;
  font-size: 0.88rem;
  font-weight: 400;
  line-height: normal;
}

.page-heading__conteiner {
  background-color: #F8F8F8;
}

.page-heading {
  display: flex;
  width: 96%;
  margin: 0 auto;
  max-width: 1140px;
  min-height: 100%;
}
.page-heading__heading {
  padding-top: 3.69rem;
  padding-bottom: 3.75rem;
  color: #F16D7F;
}

.cart__conteiner {
  background-color: #fff;
}

.cart {
  width: 96%;
  margin: 0 auto;
  max-width: 1140px;
  min-height: 100%;
  padding-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 128px;
}
.cart__left-block {
  width: 100%;
  margin: 0 auto;
  max-width: 652px;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
}
.cart__right-block {
  width: 100%;
  margin: 0 auto;
  max-width: 360px;
  min-height: 100%;
  padding-top: 1.06rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 57px;
}
.cart__product {
  max-width: 652px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 31px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}
.cart__product img {
  width: 262px;
}
.cart__product svg {
  position: absolute;
  z-index: 10;
  top: 1.75rem;
  right: 1.38rem;
  cursor: pointer;
}
.cart__product svg path {
  transition: all 1s;
}
.cart__product svg:hover path {
  fill: #F16D7F;
}
.cart__text-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.cart__cart-heading {
  padding-top: 1.38rem;
  padding-bottom: 2.63rem;
  max-width: 262px;
  color: #222;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: normal;
}
.cart__info-block {
  color: #5D5D5D;
  font-size: 1.38rem;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 6px;
}
.cart__price {
  color: #F16D7F;
}
.cart__quantity {
  border: 1px solid #EAEAEA;
  padding: 0.06rem 1.06rem 0.13rem 1rem;
  margin-left: 1.5rem;
}
.cart__buttons-block {
  max-width: 652px;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 8rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}
.cart__button {
  padding: 1.06rem 2.19rem 1rem 2.19rem;
  border: 1px solid #9F9F9F;
  background-color: #fff;
  color: #000;
  font-size: 0.88rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  transition: all 1s;
}
.cart__button:hover {
  border: 1px solid #F16D7F;
  background-color: #F16D7F;
  color: #fff;
}
.cart__form {
  max-width: 360px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
.cart__form-heading {
  color: #222;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cart__input-adress {
  padding-top: 0.81rem;
  padding-bottom: 1rem;
  padding-left: 1.06rem;
  border: 1px solid #9F9F9F;
}
.cart__form-button {
  max-width: 105px;
  width: 100%;
  padding-top: 0.63rem;
  padding-bottom: 0.75rem;
  border: 1px solid #9F9F9F;
  background-color: #fff;
  color: #5D5D5D;
  font-size: 0.69rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  transition: all 1s;
}
.cart__form-button:hover {
  border: 1px solid #F16D7F;
  background-color: #F16D7F;
  color: #fff;
}
.cart__checkout-block {
  padding-top: 2.44rem;
  padding-bottom: 2.63rem;
  background-color: #F8F8F8;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  align-content: center;
  gap: 12px;
}
.cart__checkout-block img {
  max-width: 275px;
  width: 100%;
}
.cart__line {
  max-width: 275px;
  width: 100%;
  border: 1px solid #EAEAEA;
}
.cart__checkout-subtotal {
  color: #5D5D5D;
  font-size: 0.69rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__checkout-total {
  color: #222;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 0.56rem;
}
.cart__checkout-total__pink {
  color: #F16D7F;
}
.cart__checkout-button {
  margin-top: 0.31rem;
  padding: 0.94rem 2.69rem 1rem 2.56rem;
  background-color: #F16D7F;
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border: 1px solid #F16D7F;
  transition: all 1s;
}
.cart__checkout-button:hover {
  border: 1px solid #F16D7F;
  background-color: #fff;
  color: #F16D7F;
}

.registration__conteiner {
  background-color: #fff;
}

.registration {
  width: 96%;
  margin: 0 auto;
  max-width: 1140px;
  min-height: 100%;
  padding-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 128px;
}
.registration__left-block {
  width: 100%;
  margin: 0 auto;
  max-width: 360px;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.registration__form {
  width: 100%;
  margin: 0 auto;
  max-width: 360px;
  min-height: 100%;
  padding-bottom: 6rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}
.registration__form-name {
  max-width: 360px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
.registration__form-input {
  padding-top: 0.75rem;
  padding-bottom: 0.94rem;
  padding-left: 1rem;
  border: 1px solid #9F9F9F;
  font-size: 0.81rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration__form-heading {
  padding-bottom: 0.06rem;
  color: #222;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration__form-gender {
  padding-top: 1.94rem;
  padding-bottom: 2.06rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  color: #000;
  font-size: 0.69rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration__radio-label {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.registration__custom-radio {
  display: inline-block;
  width: 1.06rem;
  height: 1.06rem;
  border: 1px solid #9F9F9F;
  border-radius: 50%;
  cursor: pointer;
}
.registration__form-data {
  max-width: 360px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
.registration__form-text {
  padding-top: 0.94rem;
  padding-bottom: 2.44rem;
  color: #9F9F9F;
  font-size: 0.81rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration__form-button {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 1rem 1.81rem 1.06rem 1.81rem;
  border: 1px solid #F16D7F;
  background-color: #F16D7F;
  color: #fff;
  transition: all 1s;
}
.registration__form-button:hover {
  background-color: #fff;
  color: #F16D7F;
}
.registration__form-button:hover path {
  fill: #F16D7F;
}
.registration__right-block {
  width: 100%;
  margin: 0 auto;
  max-width: 652px;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.registration__info {
  max-width: 652px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 22px;
  color: #000;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration__info-heading {
  font-weight: normal;
}
.registration__info-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 16px;
  list-style-image: url("../img/marker-list.svg");
  -webkit-padding-start: 1.56rem;
          padding-inline-start: 1.56rem;
}

@media (min-width: 1600px) {
  .dropdown__content {
    right: -11.5rem;
  }
  .top-content__item {
    padding-top: 6.56rem;
    padding-bottom: 6.56rem;
    transition: transform 1s;
  }
  .top-content__item__content:hover::after {
    top: 12rem;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .center {
    padding-left: calc(50% - 50vw);
    padding-right: calc(50% - 50vw);
  }
  .header {
    gap: 55%;
  }
  .header__img1 {
    padding-bottom: 1.13rem;
  }
  .header__img2 {
    padding-top: 1.19rem;
    padding-bottom: 1.13rem;
  }
  .dropdown__content {
    right: -9rem;
  }
  .top {
    gap: 39px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .top__main-photo {
    max-width: 386px;
  }
  .top__block-text {
    width: 19.44rem;
  }
  .top__heading {
    font-size: 2.75rem;
    line-height: 3.31rem;
  }
  .top__heading__newline {
    font-size: 1.5rem;
  }
  .top__heading__newline-pink {
    font-size: 1.5rem;
  }
  .top__content {
    padding-bottom: 6.88rem;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
    max-width: 736px;
    width: 96%;
  }
  .top__content__item {
    padding-top: 3.62rem;
    padding-bottom: 3.63rem;
    background-size: 100%;
  }
  .top__content__item__big {
    padding-top: 2.06rem;
    padding-bottom: 2.06rem;
  }
  .content__text-block {
    padding-bottom: 4.56rem;
  }
  .content__text {
    padding-top: 0.19rem;
  }
  .content__items-box {
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    max-width: 736px;
    width: 96%;
  }
  .content__item:hover:after {
    top: 12rem;
  }
  .content__button {
    margin-top: 2rem;
    margin-bottom: 4.06rem;
  }
  .bottom {
    flex-direction: column;
    gap: 0px;
    padding-bottom: 4rem;
    margin: 0 auto;
  }
  .bottom__content {
    padding-top: 3rem;
    padding-bottom: 0rem;
    width: 47%;
  }
  .feedback {
    flex-direction: column;
    gap: 48px;
    background-size: cover;
    padding-bottom: 8.75rem;
    background-image: url(../img/bg-tablet.jpg);
  }
  .feedback__comment {
    padding-bottom: 1.25rem;
    width: 47%;
  }
  .feedback__form {
    gap: 27px;
    width: 73%;
  }
  .footer {
    gap: 305px;
  }
}
@media (max-width: 767px) and (min-width: 320px) {
  .center {
    padding-left: calc(50% - 50vw);
    padding-right: calc(50% - 50vw);
  }
  .header {
    gap: 50%;
    max-width: 767px;
  }
  .header__img2 {
    padding-top: 1.56rem;
    padding-bottom: 1.63rem;
  }
  .dropdown__content {
    right: -0.5rem;
    top: 3.38rem;
  }
  .contacts__link {
    display: none;
  }
  .basket__link {
    display: none;
  }
  .top {
    max-width: 767px;
    justify-content: center;
  }
  .top__main-photo {
    display: none;
  }
  .top__block {
    max-width: 263px;
    gap: 15px;
    padding-top: 9.25rem;
    padding-bottom: 9.31rem;
    align-items: flex-end;
  }
  .top__img-rectangle {
    height: 3.81rem;
    width: 0.75rem;
  }
  .top__heading {
    font-size: 2.38rem;
    line-height: 2.88rem;
  }
  .top__heading__newline {
    font-size: 1.25rem;
  }
  .top__heading_newline-pink {
    font-size: 1.25rem;
  }
  .top-content {
    padding-top: 4rem;
    padding-bottom: 4rem;
    gap: 32px;
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 767px;
  }
  .top-content__item {
    padding-top: 6.13rem;
    padding-bottom: 6.19rem;
    max-width: 343px;
    align-self: center;
    min-height: 100%;
    background-size: cover;
    background-position: center;
  }
  .top-content__item__big {
    padding-top: 1.88rem;
    padding-bottom: 1.94rem;
    grid-column: span 1;
  }
  .content__text-block {
    padding-bottom: 4.06rem;
    width: 90%;
  }
  .content__text {
    padding-top: 0.19rem;
  }
  .content__items-box {
    gap: 16px;
    grid-template-columns: repeat(1, 96vw);
    width: 100%;
    max-width: 767px;
    justify-items: center;
  }
  .content__item {
    max-width: 359px;
  }
  .content__item img {
    width: 100%;
  }
  .content__item:hover::after {
    top: 11rem;
  }
  .content__info {
    width: 83.73vw;
  }
  .content__button {
    margin-top: 2.56rem;
    margin-bottom: 6rem;
  }
  .bottom {
    padding-top: 0.06rem;
    padding-bottom: 5.06rem;
    flex-direction: column;
    gap: 0px;
  }
  .bottom__content {
    padding-top: 2.94rem;
    padding-bottom: 0rem;
    max-width: 348px;
    width: 93%;
  }
  .feedback {
    flex-direction: column;
    gap: 59px;
    padding-bottom: 8.75rem;
    background-image: url(../img/bg-mobile.jpg);
    background-size: cover;
    background-position: center;
  }
  .feedback__comment {
    padding-bottom: 0rem;
    width: 91%;
  }
  .feedback__comment-text {
    font-size: 1.13rem;
  }
  .feedback__form {
    gap: 22px;
    max-width: 341px;
    width: 91%;
    background-size: cover;
    background-position: center;
  }
  .feedback__heading__1 {
    line-height: 1.25rem;
  }
  .feedback__heading__2 {
    font-size: 0.81rem;
  }
  .feedback__input {
    padding: 1rem 3.81vw 0.94rem 1.31vw;
  }
  .feedback__button {
    padding: 1rem 0.44vw 0.94rem 0.5vw;
  }
  .footer {
    flex-direction: column-reverse;
  }
  .footer__text {
    padding-bottom: 0.56rem;
    padding-top: 0rem;
  }
  .footer__icons {
    padding-top: 2.69rem;
    padding-bottom: 2.5rem;
  }
}/*# sourceMappingURL=style.css.map */